:root {
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 400px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    display: flex;
    gap: 20px;
}
h1 {
    margin: 50px auto;
}

button {
    margin: 0;
    border: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    transition: all .1s ease-in-out;
}
button:hover {
    scale: 1.2;
}

#rock {
    background-color: #FA8072;
}

#paper {
    background-color: #77DD77;
}

#scissors {
    background-color: #A7C7E7;
}

#output {
    margin: 50px auto;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
}

.tally {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.human,
.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.hb {
    width: 700px;
    border: 1px solid black;
    margin: 50px auto 0 auto;
}